<include href="views/header.html"></include>
<body>

<div class="container">
  <h2>Add New Student</h2>
  <form action="student" method="post" class="form-horizontal">

    <!-- get SID -->
    <div class="form-group form-inline">
      <label for="sid">SID</label>
      <input type="text" class="form-control mx-sm-3" id="sid"  name="sid">
    </div>

    <!-- get Last -->
    <div class="form-group form-inline">
      <label for="last">Last</label>
      <input type="text" class="form-control mx-sm-3" id="last"  name="last">
    </div>

    <!-- get First -->
    <div class="form-group form-inline">
      <label for="first">Last</label>
      <input type="text" class="form-control mx-sm-3" id="first"  name="first">
    </div>

    <!-- get birthdate -->
    <div class="form-group form-inline">
      <label for="birthdate">Last</label>
      <input type="text" class="form-control mx-sm-3" id="birthdate"  name="birthdate">
    </div>

    <!-- get gpa -->
    <div class="form-group form-inline">
      <label for="gpa">Last</label>
      <input type="text" class="form-control mx-sm-3" id="gpa"  name="gpa">
    </div>

    <!-- get advisor -->
    <div class="form-group form-inline">
      <label for="last">Last</label>
      <input type="text" class="form-control mx-sm-3" id="advisor"  name="advisor">
    </div>

    <div class="col-xs-3 ">
      <button class="btn btn-primary" type="submit">Next</button>
    </div>

  </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>